.depoimentos-section {
  width: 100vw;
  min-height: 60vh;
  background: var(--bg-depoimentos);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img {
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
}

.depoimentos-img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 18px;
}

@media (max-width: 700px) {
  .depoimentos-section {
    padding: 10px 0;
    min-height: 30vh;
  }

  .depoimentos-img {
    border-radius: 10px;
  }
}