.depoimentos-section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 100%;
  padding: 20px 80px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.depoimentos-img {
  width: 100%;
  max-width: 980px;
  height: auto;
  display: block;
}

.image-container {
  position: relative;
  display: block;
}

@media (min-width: 1400px) {
  .depoimentos-img {
    max-width: 980px;
    width: 100%;
  }
}

@media (max-width: 794px) {
  .depoimentos-section {
    padding: 0px;
  }
  .depoimentos-img {
    max-width: 100vw;
    width: 400px;
    height: auto;
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .depoimentos-section {
    padding: 20px;
    min-height: 30vh;
  }
}