<div class="admin-theme-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Personalização de Cores Globais</mat-card-title>
      <mat-card-subtitle>
        <button mat-stroked-button color="primary" type="button" (click)="toggleThemeEdit()">
          <mat-icon>{{ isDark ? 'dark_mode' : 'light_mode' }}</mat-icon>
          Editar tema {{ isDark ? 'escuro' : 'claro' }}
        </button>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form>
        <div *ngFor="let v of variables | keyvalue" class="color-row">
          <label>{{ getLabel(v.key) }}:
            <input type="color" [(ngModel)]="variables[v.key]" [name]="v.key" />
          </label>
        </div>
        <div class="color-row">
          <button mat-raised-button color="primary" type="button" (click)="updateColors()">
            <mat-icon>palette</mat-icon>
            Aplicar Cores
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div> 