.logo-bg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
  display: block;
  padding: 5px;
  max-width: 100px;
  width: 100%;
  height: auto;
}

.image-container {
  position: relative;
  display: inline-block;
}
