.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 100%;
  aspect-ratio: 16/6;
  background-color: var(--bg-primary-dark);
}

.banner-img {
  width: 69%;
  height: 85%;
  background-image: url('/assets/banner.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}

