<section class="banner-container">
  <img src="/assets/bannerPrincipal.jpg" alt="Banner Principal" class="banner-img" />
</section>
<section class="benefits-section">
    <div class="benefit-item">
        <mat-icon>wifi</mat-icon>
        <span>Dê adeus à internet que vive caindo</span>
    </div>
    <div class="benefit-item">
        <mat-icon>support_agent</mat-icon>
        <span>Agilidade no atendimento, instalação e suporte</span>
    </div>
    <div class="benefit-item">
        <mat-icon>verified_user</mat-icon>
        <span>Instalação Cortesia mediante análise*</span>
    </div>
    <div class="benefit-item">
        <mat-icon>router</mat-icon>
        <span>Melhor conexão com WIFI Mesh*</span>
    </div>
</section>