.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 100%;
  aspect-ratio: 16/6;
  background: var(--bg-gradient);
}

.container-img {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
}

.banner-img {
  display: block;
  width: 69%;
  height: 85%;
  background-image: url('/assets/banner.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}


@media (min-width: 1400px) {
  .banner-container {
    aspect-ratio: 16/5;
    padding: 0px 80px;
  }

  .container-img {
    width: 80%;
    min-width: 1270px;
  }
}

@media (max-width: 784px) {
  
  .container-img {
    width: 400px;
    height: 400px;
  }

  .banner-img {
    background-image: url('/assets/bannerMobile.jpg');
    width: 80%;
    height: 100%;
  }
}