.top-bar-container {
    background-color: var(--bg-primary-dark);
    color: var(--text-white);
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    z-index: 2000;
    padding: 15px 80px;
}

.top-bar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.top-bar-logo {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

.top-bar-center {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar-center p {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    color: var(--text-light-gray);
}

.top-bar-actions {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

.client-button {
    background-color: var(--bg-primary-orange);
    color: var(--text-white);
    padding: 12px 28px;
    border-radius: 24px;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
}

.client-button:hover {
    background-color: var(--bg-orange-hover);
}

.client-button mat-icon {
    font-size: 22px;
}

/* --- RESPONSIVIDADE --- */
@media (max-width: 900px) {
    .top-bar-container {
        padding: 10px 20px;
    }
    .top-bar-content {
        flex-direction: column;
        gap: 10px;
    }
    .top-bar-center {
        justify-content: center;
        margin: 10px 0;
    }
}
