.clube-vantagens-section {
    height: 450px;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vantagens-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/* --- RESPONSIVIDADE --- */

@media (max-width: 1200px) {
    .clube-vantagens-section {
        height: 400px;
    }
}

@media (max-width: 992px) {
    .clube-vantagens-section {
        height: 350px;
    }
}

@media (max-width: 768px) {
    .clube-vantagens-section {
        height: 300px;
    }
}

@media (max-width: 576px) {
    .clube-vantagens-section {
        height: 250px;
    }
}

@media (max-width: 480px) {
    .clube-vantagens-section {
        height: 200px;
    }
}
