.clube-vantagens-section {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 1, 24, 1) 60%);
}

.vantagens-image {
    width: 80vw;
    max-width: 100vw;
    height: auto;
    display: block;
}

/* --- RESPONSIVIDADE --- */
@media (max-width: 1200px) {
    .vantagens-image {
        width: 80vw;
    }
}

@media (max-width: 576px) {
    .clube-vantagens-section {
        height: 35vh;
    }
}