.clube-vantagens-section {
    height: 60vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 1, 24, 1) 60%);
}

.vantagens-image {
    width: 100%;
    max-width: 1000px;
    height: auto;
    border-radius: 25px;
    display: block;
}

.vantagens-image img {
    border-radius: 25px;
}

/* --- RESPONSIVIDADE --- */

@media (max-width: 576px) {
    .clube-vantagens-section {
        height: 100vh;
    }
}

@media (max-width: 480px) {
    .clube-vantagens-section {
        height: 100vh;
    }
}
