<section class="planos-section">
    <div class="section-title">
        <h2>NOSSOS PLANOS</h2>
        <p>QUAL VELOCIDADE VOCÊ PREFERE?</p>
    </div>
    <div class="planos-container">
        <!-- Plano 500 MEGA -->
        <a href="">
            <div class="plano-card">
                <div class="image-container">
                    <img src="/assets/planos/500.png" alt="Plano 500 Mega" class="plano-img" />
                </div>
            </div>
        </a>
        <!-- Plano 700 MEGA -->
        <a href="">
            <div class="plano-card">
                <div class="image-container">
                    <img src="/assets/planos/700.png" alt="Plano 700 Mega" class="plano-img" />
                </div>
            </div>
        </a>
        <!-- Plano 800 MEGA -->
        <a href="">
            <div class="plano-card">
                <div class="image-container">
                    <img src="/assets/planos/800.png" alt="Plano 800 Mega" class="plano-img" />
                </div>
            </div>
        </a>

    </div>
    <div class="credit-note">
        <p>*Desconto válido para pagamentos dentro da data de vencimento</p>
    </div>
</section>