<section class="planos-section">
    <div class="section-title">
        <p>NOSSOS PLANOS</p>
        <h2>QUAL VELOCIDADE VOCÊ PREFERE?</h2>
    </div>
    <div class="planos-container">
        <!-- Plano 500 MEGA -->
        <div class="plano-card">
            <img src="/assets/planos/12.png" alt="Plano 500 Mega" class="plano-img" />
        </div>
        <!-- Plano 500+200 MEGA (Melhor Oferta) -->
        <div class="plano-card">
            <img src="/assets/planos/12.png" alt="Plano 500+200 Mega" class="plano-img" />
        </div>
        <!-- Plano 700 MEGA -->
        <div class="plano-card">
            <img src="/assets/planos/12.png" alt="Plano 700 Mega" class="plano-img" />
        </div>

    </div>
    <div class="credit-note">
        <p>*Desconto válido para pagamentos dentro da data de vencimento</p>
    </div>
</section>
