.planos-section {
    background: var(--bg-gradient);
    padding: 60px 80px;
    color: var(--text-white);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.section-title p {
    color: var(--text-blue-gray);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.section-title h2 {
    color: var(--text-orange);
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.planos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    margin-bottom: 20px;
}

.plano-card {
    width: 20%;
    max-width: 320px;
    min-width: 300px;
}

.plano-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.plano-card a {
    position: relative;
    bottom: 59px;
    left: 44px;
    width: 71%;
    height: 33px;
    border-radius: 25px;
    display: block;
}

.plano-card a:hover {
    border: 1px solid #ffff;
}

.credit-note {
    margin-top: 20px;
    font-size: 11px;
    color: var(--text-medium-gray);
}