<section class="contratos-section">
  <div class="contratos-content">
    <h1 class="contratos-title">Contratos</h1>
    <p class="contratos-subtitle">Visualize seus contratos de serviço e comodato.</p>

    <div class="contratos-group">
      <div class="contratos-box">
        <a href="https://jasgab.com.br/docs/contrato_scm.pdf" target="_blank" class="contratos-link">
          <span class="icon">📄</span> Contrato de Prestação de Serviço de Comunicação Multimídia SCM
        </a><br />
        <a href="https://jasgab.com.br/docs/contrato_comodato.pdf" target="_blank" class="contratos-link">
          <span class="icon">📄</span> Contrato de Comodato de Equipamentos
        </a>
      </div>
    </div>
  </div>
</section> 